{% extends 'base_stock.html.twig' %} {% block body %} {%if message is defined%}
<div class="alert alert-danger">
  {{ message }}
</div>
{%endif%}
<h1>Commandes</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Family</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for cart in carts %}
    <tr>
      <td>{{ cart.id }}</td>
      <td>{{ cart.title }}</td>
      <td>{{ cart.family.name }}</td>
      <td>
        <a href="{{path("cart_send",{id: cart.id})}}" class="btn btn-primary">Envoyer</a>
        <a href="{{path("cart_show",{id: cart.id})}}" class="btn btn-primary">Details</a>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="5">no records found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
