{% extends "base_stock.html.twig" %} {% block body %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Stock</th>
      <th>Unit_price</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.stock }}</td>
      <td>{{ item.unitPrice }}</td>
      <td>
        {{ include("item/_stock.html.twig", { item: item }) }}
        <a
          class="btn btn-secondary"
          href="{{ path('item_edit', { id: item.id }) }}"
          >edit</a
        >
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="6">no records found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a class="btn btn-success" href="{{ path('item_new') }}">Create new</a>
{% endblock %}
